.main{
  width:100%;
  border:3px solid #4145;
  display: flex;
  flex-direction: row;
  background-color: black;
}
.left{
  width:25%;
border:2px solid #c45e45;
margin: 5px 3px 1px 10px;
padding: 5px;
background-color: #3b5998;
}
.left img{
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 3px solid red;
  box-shadow: 3px 6px 5px #000;
}
.right{
  width:70%;
  border:2px solid #000;
  margin: 3px;
  padding: 5px;
  background-color: #8b9dc3;
}
h1
{
  color: black;
}
#name{
  color: red;
}
h2{
  color: #eed;
}
h1.hover{
  color:#000;
}
@media only screen and (max-width:480px)
{
  .main{
    width:100%;
    border:3px solid #4145;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
  }
  .left{
    width:100%;
  border:2px solid #c45e45;
  margin: 5px 3px 1px 10px;
  padding: 5px;
  background-color: #8b9dc3;
  text-align: center;
  }
  .left img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid red;
    box-shadow: 3px 6px 5px #000;
  }
  .right{
    width:100%;
    border:2px solid #000;
    margin: 3px;
    padding: 5px;
    background-color: #3b5998;
  }
  h1
  {
    color: #fff;
  }
  #name{
    color: red;
  }
  h2{
    color: #eed;
  }
  h1.hover{
    color:#000;
  }
}
@media only screen and (min-width:481px) and (max-width:769px) {
  .main{
    width:100%;
    border:3px solid #4145;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
  }
  .left{
    width:100%;
  border:2px solid #c45e45;
  margin: 5px 3px 1px 10px;
  padding: 5px;
  background-color: #3b5998;
  text-align: center;
  }
  .left img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid red;
    box-shadow: 3px 6px 5px #000;
  }
  .right{
    width:100%;
    border:2px solid #000;
    margin: 3px;
    padding: 5px;
    background-color: #8b9dc3;
  }
  h1
  {
    color: black;
  }
  #name{
    color: red;
  }
  h2{
    color: #eed;
  }
  h1.hover{
    color:#000;
  }
}
table,td{
  border: 1px solid black;
}
